{% extends 'library/base.html' %}
{% block title %} Alarms {% endblock %}
{% block body %}

    {% if alarm_list %}
                <table class="table" border="0">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Day</th>
                    <th>Time</th>
                    <th>Active</th>
                    <th>Updated</th>
                </tr>
                </thead>
                <tbody>

        {% for alarm in alarm_list %}
        <tr>
            <td><a href="{% url 'alarmclock:alarm_edit' alarm.id %}">{{ alarm.name }}</a></td>
            {% if alarm.day %}
                <td>{{ alarm.day }}</td>
            {% else %}
                <td>Daily</td>
            {% endif %}

            <td>{{ alarm.hour }}</td>
            <td>{{ alarm.active }}</td>
            <td>{{ alarm.updated }}</td>
        </tr>
        {% endfor %}
                </tbody>
            </table>

    {% else %}
    <h2>no artists found</h2>
    {% endif %}



{% endblock %}